{% extends 'base/base.html' %}
{% load static %}

{% block content %} 

 <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
  <!--Main Navigation-->
  <header>
    <!--Favicon-->
    <!--<link rel="shortcut icon" href='{% static "favicon.jpg" %}'>-->
    
    <style>
      /*Este CSS é para que me poña en vermello as alertas dos forms cando salen mal*/
      /* Carousel styling */
      .carousel-item {
        height: 100vh;
        background-image: url('{% static "confirmacion_reserva.jpg" %}');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
      /*Con esto oculta a barra horizontal*/
      body{
        overflow-x: hidden;
      }
      #ul_pag_entradas_confirmacion{
        font-size: 1.1em;
      }
      #p_pag_entradas_confirmacion{
        font-size: 1.1em;
      }

    </style>     
      <!-- Inner -->
      <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
            <div class="d-flex justify-content-center align-items-center h-100" style="margin-left: 30px;">
              <div class="text-white">
                <h2>Reserva Confirmada</h2>
                <ul id= "ul_pag_entradas_confirmacion" class="mt-3">
                    <li class="mb-2 mt-2"><strong>Email:</strong> {{ email_entradas_form_html }}</li>
                    <li class="mb-2"><strong>Reserva:</strong> {{ numero_entradas_form_html }} entradas</li>
                    <li class="mb-2"><strong>Data:</strong> 28 de Decembro do 2024 (Sábado)</li>
                    <li class="mb-2"><strong>Hora:</strong> 19:00</li>
                    <li class="mb-2"><strong>Lugar:</strong> Auditorio Municipal de Verín<br> <a style="color: white;" target="_blank" href="https://www.google.es/maps/place/Auditorio+de+Ver%C3%ADn/@41.9375471,-7.4303611,16.39z/data=!4m15!1m8!3m7!1s0xd3aea75f279ca45:0xfdd15b6da318cee3!2sVer%C3%ADn,+Province+of+Ourense!3b1!8m2!3d41.9402591!4d-7.4349526!16zL20vMDFyOTR4!3m5!1s0xd3aea6d59e10ed7:0x67f921ea00569d16!8m2!3d41.9368104!4d-7.4274449!16s%2Fg%2F11cs5hc0bc?entry=ttu">(Ver ubicación)</a></li>
                </ul>
                <br>
                <p id="p_pag_entradas_confirmacion">Nunhes momentiños recibirá un <strong>email</strong> con toda a información.</p>
                <div class="p-4 pt-0 border-top-0">
                  <div class="text-center">
                    <a id="email_icon" class="btn btn-outline-dark mt-auto" target="_blank" href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser&theme=glif" style="color: white; border-color: white;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                      </svg>
                      Gmail
                    </a>
                    <a id="email_icon" class="btn btn-outline-dark mt-auto" target="_blank" href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=16&ct=1697801830&rver=7.0.6738.0&wp=MBI_SSL&wreply=https%3a%2f%2foutlook.live.com%2fowa%2f%3fnlp%3d1%26RpsCsrfState%3d0da33326-166e-7d65-ea1d-ed670c670eb6&id=292841&aadredir=1&CBCXT=out&lw=1&fl=dob%2cflname%2cwld&cobrandid=90015" style="color: white; border-color: white;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-microsoft" viewBox="0 0 16 16">
                        <path d="M7.462 0H0v7.19h7.462V0zM16 0H8.538v7.19H16V0zM7.462 8.211H0V16h7.462V8.211zm8.538 0H8.538V16H16V8.211z"/>
                      </svg>
                      Hotmail
                    </a>
                    <a id="email_icon" class="btn btn-outline-dark mt-auto" target="_blank" href="https://www.icloud.com/email" style="color: white; border-color: white;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-apple" viewBox="0 0 16 16">
                        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516.024.034 1.52.087 2.475-1.258.955-1.345.762-2.391.728-2.43Zm3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422.212-2.189 1.675-2.789 1.698-2.854.023-.065-.597-.79-1.254-1.157a3.692 3.692 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56.244.729.625 1.924 1.273 2.796.576.984 1.34 1.667 1.659 1.899.319.232 1.219.386 1.843.067.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758.347-.79.505-1.217.473-1.282Z"/>
                      </svg>
                      iCloud Mail
                    </a>
                    <a id="email_icon" class="btn btn-outline-dark mt-auto" target="_blank" href="https://login.yahoo.com/?.src=ym&lang=es-ES&done=https%3A%2F%2Fmail.yahoo.com%2F%3F.intl%3De1%26.lang%3Des-US%26guce_referrer%3DaHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8%26guce_referrer_sig%3DAQAAADG2uMXit7f-tRXAfkflvtDPMf_UplU62RxmbZAUX4SChlhhn6Kvkly8Clh60UbAwwH8nWitIEEY2B_ZtUNeB9jMtFJ5HbGx1e6gVx4g6a7cTbDC_oDNlXF6OFoFNn_Jpw9tKRU8QPu-3qiHzSv-IxwHBQgQsTA8g9uziIqN4COD" style="color: white; border-color: white;">
                      <svg height="20" width="20" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 291.319 291.319" xml:space="preserve" fill="#000000">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier"> <g>  
                            <path style="fill:white;" d="M212.353,114.98l0.155-0.027l4.825-5.371l-0.237-0.018l0.51-0.801h-67.595l2.604,9.249h18.444 l-31.044,28.722c-6.336-9.24-21.184-30.479-31.544-46.411h19.254v-6.555l0.264-1.884l-0.264-0.036v-0.765H54.631v9.24H77.49 c8.876,7.328,47.358,54.049,48.76,58.51c0.564,4.179,1.366,28.841-0.291,30.698c-1.994,2.868-22.814,1.32-26.483,1.593 l-0.137,9.058c6.7,0.2,26.801-0.009,33.584-0.009c13.364,0,36.77-0.346,40.065-0.082l0.41-8.576l-26.901-0.401 c-0.564-3.887-1.183-28.422-0.619-31.098c2.54-7.765,43.816-39.902,48.059-41.112l3.997-0.901h12.472 C210.405,118.002,212.353,114.98,212.353,114.98z M202.266,179.079l11.689,0.892l13.628-49.979 c-2.276-0.082-22.95-1.93-25.636-2.431L202.266,179.079z M200.245,187.091l0.064,12.208l5.917,0.492l6.391,0.446l1.875-11.944 l-6.737-0.31C207.756,187.983,200.245,187.091,200.245,187.091z"></path> 
                          </g> 
                        </g>
                      </svg>
                      Yahoo
                    </a>
                  </div>
                </div>
                <p id="p_pag_entradas_confirmacion">Se non atopa o email, bote unha ollada ao correo lixo.</p>
                <h4>Grazas {{ nome_entradas_form_html }}!</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel wrapper -->
  </header>

  {% endblock %} 

  