{% extends 'base/base.html' %}
{% load static %}
<!-- Esto é para poder compartir o blog en twiter, facebook.....-->
{% load social_share %}

{% block content %}


<!-- A partir este código está ben -->
<br>
<br>
<br>
<br>
<style>
    /*Este CSS é para que me poña en vermello as alertas dos forms cando salen mal*/
    .alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position:absolute;
    position: sticky;
    top: 0
    }
    body{
        margin-top:20px;
    }
    /*
    Blog post entries
    */
    
    .entry-card {
        -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    }
    
    .entry-content {
        background-color: #fff;
        padding: 36px 36px 36px 36px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    
    .entry-content .entry-title a {
        color: #333;
    }
    
    .entry-content .entry-title a:hover {
        color: #4782d3;
    }
    
    .entry-content .entry-meta span {
        font-size: 12px;
    }
    
    .entry-title {
        font-size: .95rem;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .entry-thumb {
        display: block;
        position: relative;
        overflow: hidden;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    
    .entry-thumb img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    
    .entry-thumb .thumb-hover {
        position: absolute;
        width: 100px;
        height: 100px;
        background: rgba(71, 130, 211, 0.85);
        display: block;
        top: 50%;
        left: 50%;
        color: #fff;
        font-size: 40px;
        line-height: 100px;
        border-radius: 50%;
        margin-top: -50px;
        margin-left: -50px;
        text-align: center;
        transform: scale(0);
        -webkit-transform: scale(0);
        opacity: 0;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
    }
    
    .entry-thumb:hover .thumb-hover {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    
    .article-post {
        border-bottom: 1px solid #eee;
        padding-bottom: 70px;
    }
    
    .article-post .post-thumb {
        display: block;
        position: relative;
        overflow: hidden;
    }
    
    .article-post .post-thumb .post-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        transition: all .3s;
        -webkit-transition: all .3s;
        opacity: 0;
    }
    
    .article-post .post-thumb .post-overlay span {
        width: 100%;
        display: block;
        vertical-align: middle;
        text-align: center;
        transform: translateY(70%);
        -webkit-transform: translateY(70%);
        transition: all .3s;
        -webkit-transition: all .3s;
        height: 100%;
        color: #fff;
    }
    
    .article-post .post-thumb:hover .post-overlay {
        opacity: 1;
    }
    
    .article-post .post-thumb:hover .post-overlay span {
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
    }
    
    .post-content .post-title {
        font-weight: 500;
    }
    
    .post-meta {
        padding-top: 15px;
        margin-bottom: 20px;
    }
    
    .post-meta li:not(:last-child) {
        margin-right: 10px;
    }
    
    .post-meta li a {
        color: #999;
        font-size: 13px;
    }
    
    .post-meta li a:hover {
        color: #4782d3;
    }
    
    .post-meta li i {
        margin-right: 5px;
    }
    
    .post-meta li:after {
        margin-top: -5px;
        content: "/";
        margin-left: 10px;
    }
    
    .post-meta li:last-child:after {
        display: none;
    }
    
    .post-masonry .masonry-title {
        font-weight: 500;
    }
    
    .share-buttons li {
        vertical-align: middle;
    }
    
    .share-buttons li a {
        margin-right: 0px;
    }
    
    .post-content .fa {
        color: #ddd;
    }
    
    .post-content a h2 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 0px;
    }
    
    .article-post .owl-carousel {
        margin-bottom: 20px !important;
    }
    
    .post-masonry h4 {
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 700;
    }
    .mb40 {
        margin-bottom: 40px !important;
    }
    .mb30 {
        margin-bottom: 30px !important;
    }
    .media-body h5 a {
        color: #555;
    }
    .categories li a:before {
        content: "\f0da";
        font-family: 'FontAwesome';
        margin-right: 5px;
    }
    /*
    Template sidebar
    */
    
    .sidebar-title {
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }
    
    .categories li {
        vertical-align: middle;
    }
    
    .categories li > ul {
        padding-left: 15px;
    }
    
    .categories li > ul > li > a {
        font-weight: 300;
    }
    
    .categories li a {
        color: #999;
        position: relative;
        display: block;
        padding: 5px 10px;
        border-bottom: 1px solid #eee;
    }
    
    .categories li a:before {
        content: "\f0da";
        font-family: 'FontAwesome';
        margin-right: 5px;
    }
    
    .categories li a:hover {
        color: #444;
        background-color: #f5f5f5;
    }
    
    .categories > li.active > a {
        font-weight: 600;
        color: #444;
    }
    
    .media-body h5 {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 20px;
        font-weight: 400;
    }
    
    .media-body h5 a {
        color: #555;
    }
    
    .media-body h5 a:hover {
        color: #4782d3;
    }
</style>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container pb50">
    <div class="row">
        <div class="col-md-12 mb40">
            <article>
                <iframe class="col-12 mb40" height="500" src="https://www.youtube.com/embed/{{ youtube_link_code_last_characters_html }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="post-content">
                    <h3>{{ faladoiras_detail_html.faladoiras_persoa }}</h3>
                    <ul class="post-meta list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-user-circle-o"></i> <a href= "{{ autor.social_media }}" target="_blank" >{{ faladoiras_detail_html.faladoiras_persoa }}</a>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-calendar-o"></i> <a href="#">{{ faladoiras_detail_html.faladoiras_date }}</a>
                        </li>
                    </ul>
                    <!-- Eiqui tes que marcar o contido como seguro (safe) para que o rich text do artigos_content se che mostre na páxina-->
                    <p class="lead">{{ faladoiras_detail_html.faladoiras_content|safe}} </p>
                    

                    <ul class="list-inline share-buttons">
                        <li class="list-inline-item">Se che gusta, comparte:</li>
                        <li class="list-inline-item">
                        {% post_to_facebook object_or_url '<i class="fa fa-facebook" aria-hidden="true"></i>' %}
                        </li>
                        <li class="list-inline-item">
                        {% post_to_twitter "NovaEra: {{ artigo_detail.artigos_title }}" object_or_url '<i class="fa fa-twitter" aria-hidden="true"></i>'%}
                        </li>
                        <li class="list-inline-item">
                        {% post_to_whatsapp object_or_url '<i class="fa fa-whatsapp"></i>'%}
                        </li>
                        
                        {% comment %} <li class="list-inline-item">
                            {% post_to_instagram object_or_url %}
                        </li> {% endcomment %}
                        
                        <div class="list-inline-item"> 
                            <a href="http://www.linkedin.com/shareArticle?url={{request.get_host}}{{ request.get_full_path }}" target="_blank"> <i class="fa fa-linkedin"></i> </a> 
                        </div>
                    </ul>
                    
                    <hr class="mb40">
                    <h4 class="mb40 text-uppercase font500" id="engadir_comentario">Comentarios ({{ number_comments_html }})</h4>
                    
                    {% for comment in comments_blog_html %}
                    <div class="media mb40">
                        <div class="media-body">
                            <h5 class="mt-0 font400 clearfix">
                                        <strong>{{ comment.nome }}</strong> / {{ comment.date_added|date:"d M, Y" }}  </h5>
                                            {{ comment.comentario }}
                        </div>
                    </div>
                    {% endfor %}
                    <section>
                        <hr class="mb40" >
                        <!-- Esta toda parafernalia e para crear o form con estilo bootstrap-->
                        <h4 class="mb40 text-uppercase font500" >Engadir un comentario</h4>
                        <form method="post" novalidate>
                            {% csrf_token %}
                            <div class="form-group mt-2">
                                <label for="exampleInputEmail1">Nome</label>
                                {{ form_html.nome }}
                            </div>
                            <div class="form-group mt-2">
                                <label for="exampleInputPassword1">Correo electrónico</label>
                                {{ form_html.correo_electrónico }}
                            </div>
                            <div class="form-group mt-2">
                                <label for="exampleInputPassword1">Comentario</label>
                                {{ form_html.comentario }}
                            </div>
                            <div class="mt-3">
                            <button type="submit" class="btn btn-dark" onclick="location.href='#engadir_comentario'">Engadir comentario</button>
                            </div>
                        </form>
                    </section>
            </article>
        </div> 
    </div>
</div>

<!--Footer-->
<section>
{% include 'base/footer.html' %}
</section>
<!--Footer-->


<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<!-- ESTO VALE PARA QUE DESAPAREZCAN AS ALERTAS DE CANDO SE COMPLETAN OS FORMULARIOS
DESPOIS DUN CERTO TEMPO. CREO QUE SEN ESTO NON FUNCIONAN AS SCRIPTS de JAVASCRIPT QUE ESCRIBES. A SCRIPT QUE ESCRIBICHES PARA QUE DESAPAREZAN AS ALERTAS DESPOIS DUN TEMPO
ESTÁ NO ARCHIVO "base.html". ESTÁ ENTRE <script>...........</script> -->
<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

{% endblock content %}


