{% load static %}

<table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <h3 style="text-align: center;"><a href= "https://www.novaera.gal/newsletter_landingpage/" style="text-decoration: none; color: black">No caso de que o correo non se visualice ben, prema no <strong>enlace</strong></a></h3>
    </td>
  </tr>
  <tr>
    <td bgcolor="#191919" style="padding:40px; text-align:center; color:#fff;">
      <a href="https://entradas.ataquilla.com/es/ventaentradas/conciertos/251-auditorio-municipal-de-ourense/x3ajp45k-dez" target="_blank" style="display:block; text-decoration:none; color:inherit;">
        <h1 style="font-size:36px; margin:0;">DEZ</h1>
        <h3 style="font-size:22px; margin:10px 0;">7 de Decembro 2025 ás 19:30h</h3>
        <h4 style="font-size:20px; margin:10px 0;">Auditorio Municipal de Ourense</h4>
        <div style="display:inline-block; margin-top:20px; background:#ffffff; color:#242424; padding:12px 40px; text-decoration:none; border-radius:20px; font-weight:bold; font-size:20px;">
          Mercar Entradas
        </div>
      </a>
    </td>
  </tr>

  <tr>
    <td bgcolor="#333333" style="padding:40px; text-align:center; color:#fff;">
      <p style="color:white;line-height:150%" class="text-muted">
          <strong>DEZ</strong> é o novo espectáculo da Banda de Gaitas Nova Era. Unha revisión do pasado dende a innovación. Unha noite que non poderán repetir, un novo estándar para o futuro. 
          </p>
          <p style="color:white;line-height:150%" class="text-muted">
          Dende o ano 2015, a Banda de Gaitas Nova Era ten creado un <strong>estilo musical propio</strong> e diferente ao proposto polas agrupacións que se asemellan. Agora que cumpren a súa primeira década, queren celebralo coa confección dunha velada á altura.  
          </p>
          <p style="color:white;line-height:150%" class="text-muted">
          <strong>DEZ</strong> é a culminación a unha traxectoria ambiciosa, á procura da <strong>autenticidade</strong> e á intención de deixar un legado nunca antes visto. Un espectáculo con cinco paradas que non te deixarán indiferente:   
      </p>
      <ul style="list-style-type: none; padding-left: 0; line-height: 1.7; color: white;">
          <li><strong>Día I:</strong> Sobre o eco do que somos</li>
          <li><strong>Da nosa terra: </strong>Sobre o que nos regala o noso pobo</li>
          <li><strong>Colleita propia: </strong>Sobre o legado construído</li>
          <li><strong>Década de voces:</strong> Sobre vós, o noso público</li>
          <li><strong>Paisaxes do Atlántico:</strong> Sobre a faísca do que seremos</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td bgcolor="black" align="center" style="esd-block-text es-p15t es-p15b m-4; padding:40px; text-align:center; color:#fff;">
      <a target="_blank" href="https://www.novaera.gal">
        <img src='{% static "novaera_logo.jpg" %}' alt="" width="105" class="adapt-img">
      </a>
      <p style="color: white;">As nosas newsletters envíanse con moito agarimo, pero se queres darte de baixa, prema no <a href="https://www.novaera.gal/unsubscribe_landingpage/" target="_blank" style="text-decoration:none; color:inherit;"><strong>enlace</strong></a></p>
    </td>
  </tr>
</table>
        


